<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>

      <header class="header">
    <img src="" width="" alt=""></img>
  </header>

    {{{body}}}

      <footer>
    <div class="footer">
      <p class="footer_text">
        2022 ComeSanoAR, All Rights Reserved.
      </p>

    </div>
  </footer>
  </body>

  
</html>
